:root{
    --clr-primary-cyan: hsl(158, 36%, 37%);
    --clr-primary-cyan-dark: hsl(158, 34%, 25%);
    --clr-primary-cream: hsl(30, 38%, 92%);
    --clr-neutral-dblue: hsl(212, 21%, 14%);
    --clr-neutral-grayblue: hsl(228, 12%, 50%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --fs-para: .875rem;
    --ff-accent: "Fraunces", serif;
    --ff-base: "Montserrat", sans-serif;
    --fw-light: 500;
    --fw-bold: 700;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--clr-primary-cream);
    font-size: .875rem;
    font-family: var(--ff-base);
    color: var(--clr-neutral-grayblue);
    display: grid;
    min-height: 100vh;
    place-items: center;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.product{
    margin: 0px 1.2rem;
    background-color: var(--clr-neutral-white);
    border-radius: 10px;
    overflow: hidden;
    display: grid;
}

.product-info{
    padding: 1.2rem;
    display: grid;
    gap: 1rem;
    line-height: 1.5rem;
    font-weight: var(--fw-bold);
}

.product-info p{
    font-weight: var(--fw-light);
}

.category{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.825rem;
    font-weight: var(--fw-bold);
}

.product-title{
    font-family: var(--ff-accent);
    font-weight: var(--fw-bold);
    color: black;
    font-size: 2rem;
    line-height: 2rem;
}

.product-info button{
    border: none;
    border-radius: 8px;
    background-color: var(--clr-primary-cyan);
    color: var(--clr-neutral-white);
    letter-spacing: 0.8px;
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    font-size: 0.875rem;
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.product-info button:is(:hover, :active){
    background-color: var(--clr-primary-cyan-dark);
}

.price-container{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin: 1rem 0px;
}

.price-container .price-current{
    font-size: 2rem;
    font-family: var(--ff-accent);
    color: var(--clr-primary-cyan);
    font-weight: var(--fw-bold);
}


.price-container .price-before{
    text-decoration: line-through;
}

@media (min-width: 600px){
    .product{
        grid-template-columns: 1fr 1fr;
        max-width: 550px;
    }

    .product img{
        height: 100%;
    }

    .product-info{
        padding: 1.5rem;
    }
}